@import "tailwindcss";

@theme {
  --color-primary: #34D399;
  --color-text: #ffffff;
  --color-muted: #9A9AA8;


  --color-background: #0B0C10;
  --color-background-secondary: #1C1E26;
  --color-border: #363840;
}

:root {
  --text: white;
  --bg: #0B0C10;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px var(--sans);
  color: var(--color-text);
  background: var(--color-background);

}

html,
body,
#root {
  margin: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100svh;
}

@layer utilities {
  .scrollbar-border::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-border::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 6px;
    cursor: default;
  }
}

@keyframes pig-message {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }

  20% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  70% {
    opacity: 1;
    transform: translate(-50%, -5px);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}

.animate-pig-message {
  animation: pig-message 0.8s ease-out forwards;
}

@keyframes pig-destroy {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.animate-pig-destroy {
  animation: pig-destroy 3s ease-in forwards;
}