@import "tailwindcss";

@theme {
  --color-primary: #34D399;
  --color-text: #ffffff;
  --color-muted: #7A7A8C;

  --color-background: #0B0C10;
  --color-background-badge: #1C1E26;
}

:root {
  --text: white;
  --bg: #0B0C10;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px var(--sans);
  color: var(--color-text);
  background: var(--color-background);

}

html,
body,
#root {
  margin: 0;
  width: 100%;
}

#root {
  min-height: 100svh;
}
